project:
  type: website
  output-dir: docs

website:
  title: "UVI Data Science 1"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
    right:
      - icon: github
        href: https://github.com
  sidebar:
    style: "docked"
    search: true
    contents:
      - Week1R4DS.qmd
      - Week2HW.qmd
      - Week3HW.qmd
      - Week4HW.qmd
      - Week2HW.qmd
  page-navigation: true

format:
  html:
    theme: yeti
    css: styles.css
    toc: true

editor: visual

execute:
  freeze: auto

